html, body{
    background: rgb(252, 252, 252);
    margin: 0 7%;
}
.divPadre img{
    width: 100%;
    border-radius: 15px;
}
.divPadre{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.navBar{
  background-color: black;
  color: white;
  padding: 15px 10px 15px;
}


#banners{
  display:grid;
  background-color: #eee;
  grid-template-columns: 70% 30%;
  border-radius: 15px;
  margin-bottom: 10px;
}
#banners #imageService {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
}
#banners #textService{
  padding: 10px 15px;
  font-family: sans-serif;
  font-size: 22px;
  margin: auto 0;
}


.port{
  position: relative;
}
.port img{
  width: 100%;
  
}
.port p {
  position: absolute;
  font-size: 3rem;
  bottom: 20%;
  left: 10%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0 0 8px black;
  text-align: center;
}



.photosPlace {
  display: grid;
  grid-template-columns: 50% 50%;
}
.photosPlace img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}



#menuWord{
  text-align: center;
  font-size:30px;
  font-family:'Courier New', Courier, monospace;
}
.buttonCar{
  background-color: rgb(99, 99, 189);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.carTitle{
  font-size: 30px;
  margin: 20px 0 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    border-radius: 15px;
    margin: 2px 2px 0 2px;
}
.card img{
  display: block;
  margin: auto;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.Car{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.Car img{
  width: 100%;
  border-radius: 15px;
}
.btnRemove{
  background-color: red;
  color: white;
}


@media (max-width: 975px) {
  .divPadre{
    grid-template-columns: 50% 50%;
  }
  #banners #textService{
    font-size: 20px;

  }
  .port p{
    font-size: 2rem;
  }
  .Car{
    grid-template-columns: 50% 50%;
  }
  html, body{
    margin: 0;
}
}
@media (max-width: 420px){
  .divPadre{
    grid-template-columns: 100%;
  }
  #banners #textService{
    font-size: 12px;
  }

  .photosPlace {
    grid-template-columns: 100%;
  }
  .photosPlace img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }


  .port p{
    font-size: 1.2rem;
  }
  .Car{
    grid-template-columns: 100%;
  }

}