*{
  margin: 0;
}

.divPadre img{
    width: 100%;
    border-radius: 15px;
}
.divPadre{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}



.navBar h1{
  color: black;
  padding: 15px 10px 15px;
  font-size: 40px;
  margin: 0;
}


.port{
  position: relative;
  
}
.port img{
  width: 100%;
  height: 100%;
}
.port .txtsPortada {
  position: absolute;
  font-size: 2.8em;
  top: 40%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 8px black;
  text-align: center;
}

.textPortada {
  display: block;
  padding-top: 4rem;
  text-decoration: none;
  color: white;
  text-shadow:5px 5px 9px black ;
}
.textPortada:hover{
  text-decoration-line: underline overline;
}
#photosOfThePlace h1{
  margin: 40px 0px 40px 0px;
  text-align: center;
}
.photosPlace {
  display: grid;
  grid-template-columns: 50% 50%;
}
.photosPlace img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}


#sobreNosotros{
  
  font-family: sans-serif;
  color:black;
  text-align: center;
  padding: 130px 15%;
  font-size: 1.3rem;
}

#sobreNosotros h2 {
  
  margin-bottom: 1rem;
}

#menuWord{
  text-align: center;
  font-size:2.5rem;
  font-family:'Courier New', Courier, monospace;
  margin: 40px 0px 40px 0px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    border-radius: 15px;
    margin: 2px 2px 0 2px;
}
.card img{
  display: block;
  margin: auto;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 20px;
}
.txtCards{
  font-size: 1.1rem;
  font-family:sans-serif;
  text-align: justify;

}
#prices{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}



.footer {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  margin-top: 30px;
  padding: 40px;
  background-color: rgb(83, 94, 105);
  font-size: 1.2rem;
}
.footer .infoFooter .info{
  margin: 10px 0px 10px 0px;
}
@media (min-width: 1200px){
  .divPadre{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
}
@media (max-width: 975px) {
  .divPadre{
    grid-template-columns: 50% 50%;
  }

  .navBar h1{
    font-size: 30px;
  }

  #banners #textService{
    font-size: 20px;

  }
  .textPortada {
    padding-top: 2rem;
    font-size: 1.7rem;
  }
  .footer {
    grid-template-columns: 60% 20% 20%;
    font-size: 0.9rem;
  }
}
@media (max-width: 420px){
  .divPadre{
    grid-template-columns: 100%;
  }
  #banners #textService{
    font-size: 12px;
  }

  .photosPlace {
    grid-template-columns: 100%;
  }
  .photosPlace img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .port img{
    height: 750px;
    width: auto;
  }
  .port p{
    font-size: 1.2rem;
  }
  .Car{
    grid-template-columns: 100%;
  }
  .footer {
    display: block;
    font-size: 0.9rem;
  }
}